sass:
	#new_auction_trade
		display: none
	.units
		table
			tr
				border-bottom: 1px solid white
				th, td
					text-align: center
					padding: 0
					border: 0
					select
						width: 10em !important
	#contact_form, #invoice_contact_form
		table.form-table
			height: 50px
			border-bottom-color: transparent !important
			tr
				th, td
					padding: 0
					border: 0
				td
					label
						margin-left: 0.5em
					input[type="text"], select
						width: 100px
					#auction_trade_contact_attributes_address, #auction_trade_invoice_contact_attributes_address
						width: 320px
	#contact_list, #invoice_contact_list
		label
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			max-width: 1400px
			display: block
