<!-- BEGIN FOOTER -->
<div class="page-footer">
  <%= render :partial => "shared/user_changer" %>
  <div class="page-footer-inner">
    珀丽莱
  </div>
  <div class="page-footer-tools">
        <span class="go-top">
        <i class="fa fa-angle-up"></i>
        </span>
  </div>
</div>
<!-- END FOOTER -->
