<li class="sidebar-toggler-wrapper">
</li>
<li class="start ">
  <a href="/admin">
    <span class="title">首页</span>
  </a></li>
<li class=" open">
  <a href="javascript:;">
    <span class="title">用户管理</span>
    <span class="arrow open"></span>
  </a>
  <ul class="sub-menu" style="display: block">
    <li>
      <a href="/admin/users">
        全部用户
      </a></li>
    <li>
    </li>
  </ul>
</li>
<li class=" open">
  <a href="javascript:;">
    <span class="title">订单管理</span>
    <span class="arrow open"></span>
  </a>
  <ul class="sub-menu" style="display: block">
    <li>
      <a href="/admin/shop/trades">
        所有订单
      </a></li>
    <li>
      <a href="/admin/medias/new">
        待付款
      </a>
    </li>
    <li>
      <a href="/admin/media_drafts">
        已发货
      </a>
    </li>
    <li>
      <a href="/admin/media_drafts">
        退款中
      </a>
    </li>
    <li>
      <a href="/admin/media_drafts">
        待评价
      </a>
    </li>
    <li>
      <a href="/admin/media_drafts">
        已完成
      </a>
    </li>
    <li>
      <a href="/admin/media_drafts">
        货到付款
      </a>
    </li>
  </ul>
</li>
<li class=" open">
  <a href="javascript:;">
    <span class="title">商品管理</span>
    <span class="arrow open"></span>
  </a>
  <ul class="sub-menu" style="display: block">
    <li>
      <a href="/admin/shop/categories">
        品类管理
      </a>
    </li>
    <li>
      <a href="/admin/shop/attributes">
        属性管理
      </a>
    </li>
    <li>
      <a href="/admin/shop/brands">
        品牌管理
      </a>
    </li>
    <li>
      <a href="/admin/shop/products">
        出售中
      </a>
    </li>
    <li>
      <a href="/admin/medias">
        已下架
      </a>
    </li>
  </ul>
</li>
<li class=" open">
  <a href="javascript:;">
    <span class="title">促销管理</span>
    <span class="arrow open"></span>
  </a>
  <ul class="sub-menu" style="display: block">
    <li>
      <a href="/admin/medias">
        打折
      </a>
    </li>
    <li>
      <a href="/admin/medias">
        限时折扣
      </a>
    </li>
    <li>
      <a href="/admin/medias">
        砍价
      </a>
    </li>
  </ul>
</li>
<li class=" open">
  <a href="javascript:;">
    <span class="title">其他管理</span>
    <span class="arrow open"></span>
  </a>
  <ul class="sub-menu" style="display: block">
    <li>
      <a href="/admin/medias">
        运费模板
      </a>
    </li>
  </ul>
</li>

<li class=" open">
  <a href="javascript:;">
    <span class="title">店铺装修</span>
    <span class="arrow open"></span>
  </a>
  <ul class="sub-menu" style="display: block">
    <li>
      <a href="/admin/pages">
        页面管理
      </a>
    </li>
  </ul>
</li>
