<div class="row">
  <div class="col-md-5 col-sm-12">
    <div class="mt20">共 <%= results.total_count %> 条</div>
  </div>
  <div class="col-md-7 col-sm-12">
    <div class="dataTables_paginate paging_bootstrap">
      <%= will_paginate results, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
