<h2>查看易支付付款</h2>

<table class="form-table">
	<tbody>

		<tr class="form-field form-required">
			<th scope="row">ID</th>
			<td><%= @trade.id %></td>
		</tr>
		
		<tr class="form-field form-required">
			<th scope="row">订单交易状态</th>
			<td>
				<% case @result['trade_status'] 
				when '00'%>
				交易已成功
				<% when '01'%>
				交易失败
				<% when '02' %>
				交易不存在
				<% end %>
			</td>
		</tr>
		<tr class="form-field form-required">
			<th scope="row">查询结果</th>
			<td><%= @result['query_result'] == '00' ? '查询成功' : '查询失败' %></td>
		</tr>

		<tr class="form-field form-required">
			<th scope="row">错误代码</th>
			<td><%= @result['error_code'] %></td>
		</tr>
	</tbody>
</table>
