<div class="brand_cont slides slided" data-options="{&quot;effect&quot;: &quot;slide, fade&quot;, &quot;play&quot;: 3000, &quot;pause&quot;: 2500 }">
  <div class="list slides_container" style="overflow: hidden; position: relative; display: block;">
    <div class="slides_control" style="position: relative; width: 2595px; height: 92px; left: -865px;">
      <div class="li li1" style="position: absolute; top: 0px; left: 865px; z-index: 0; display: none;">
        <a class="link link1" href="/auction/brands/51" target="_blank"><strong>Dolce&amp;Gabbana</strong><span>杜嘉班纳</span></a><a class="link link2" href="/auction/brands/32" target="_blank"><strong>Prada</strong><span>普拉达</span></a><a class="link link3" href="/auction/brands/34" target="_blank"><strong>Burberry</strong><span>博柏利</span></a><a class="link link4" href="/auction/brands/63" target="_blank"><strong>Gucci</strong><span>古驰</span></a><a class="link link5" href="/auction/brands/96" target="_blank"><strong>Salvatore
        Ferragamo</strong><span>萨尔瓦多·菲拉格慕</span></a></div>
      <div class="li li2" style="position: absolute; top: 0px; left: 865px; z-index: 0; display: none;">
        <a class="link link1" href="/auction/brands/96" target="_blank"><strong>Salvatore
          Ferragamo</strong><span>萨尔瓦多·菲拉格慕</span></a><a class="link link2" href="/auction/brands/106" target="_blank"><strong>Hermès</strong><span>爱马仕</span></a><a class="link link3" href="/auction/brands/42" target="_blank"><strong>Bottega
        Veneta</strong><span>宝缇嘉</span></a><a class="link link4" href="/auction/brands/172" target="_blank"><strong>Bally</strong><span>巴利</span></a><a class="link link5" href="/auction/brands/55" target="_blank"><strong>Emporio
        Armani</strong><span>安普里奥·阿玛尼</span></a></div>
      <div class="li li3" style="position: absolute; top: 0px; left: 865px; z-index: 0; display: none;">
        <a class="link link1" href="/auction/brands/55" target="_blank"><strong>Emporio
          Armani</strong><span>安普里奥·阿玛尼</span></a><a class="link link2" href="/auction/brands/26" target="_blank"><strong>Hugo
        Boss</strong><span>胡戈·波士</span></a><a class="link link3" href="/auction/brands/28" target="_blank"><strong>Armani
        Jeans</strong><span>阿玛尼牛仔</span></a><a class="link link4" href="/auction/brands/19" target="_blank"><strong>Dior</strong><span>迪奥</span></a><a class="link link5" href="/auction/brands/199" target="_blank"><strong>S.T.Dupont</strong><span>都彭</span></a>
      </div>
      <div class="li li4" style="position: absolute; top: 0px; left: 865px; z-index: 5; display: block;">
        <a class="link link1" href="/auction/brands/199" target="_blank"><strong>S.T.Dupont</strong><span>都彭</span></a><a class="link link2" href="/auction/brands/118" target="_blank"><strong>Chanel</strong><span>香奈儿</span></a><a class="link link3" href="/auction/brands/183" target="_blank"><strong>Ermenegildo
        Zegna</strong><span>杰尼亚</span></a><a class="link link4" href="/auction/brands/58" target="_blank"><strong>Fendi</strong><span>芬迪</span></a><a class="link link5" href="/auction/brands/47" target="_blank"><strong>Calvin
        Klein</strong><span>卡尔文·克莱恩</span></a></div>
    </div>
  </div>
  <div class="tprev"><a class="prev slides_prev slides_link"></a></div>
  <div class="tnext"><a class="next slides_next slides_link"></a></div>
</div>


