<h1>创建代金券</h1>
<%= form_for :voucher, @voucher, :url => auction_vouchers_path do |f| -%>
	<tr>
		<td>券种ID</td>
		<td><%= f.text_field :event_id %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit "提交", :disable_with => '提交ing...' %></td>
	</tr>
<% end -%>